/**
 * Button
 */

.wp-block-button {
    &__link {
        font-size: $btn-font-size;
        line-height: $btn-line-height;
        padding-bottom: $btn-padding-y;
        padding-left: $btn-padding-x;
        padding-right: $btn-padding-x;
        padding-top: $btn-padding-y;
        &:hover {
            text-decoration: none;
        }
    }
    &.is-style-outline {
        .wp-block-button__link {
            @include button-outline-variant( map-get($theme-colors, 'primary'), map-get($theme-colors, 'light'));
        }
    }
    &.is-style-solid {
        .wp-block-button__link {
            @include button-variant( map-get($theme-colors, 'primary'), map-get($theme-colors, 'light'));
        }
    }
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    &:focus,
    &:active {
        outline: none;
    }
}

.button {
    position: relative;
    padding: 20px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: map-get($theme-options, 'transition');
    text-transform: uppercase;
    letter-spacing: 0.02em;
    overflow: hidden;
    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all .8s ease;
        opacity: 1;
        -webkit-transform: translate(-105%);
        transform: translate(-105%);
        background-color: rgba(#FEDE2F, .25);
    }
    &:before {
        transition-duration: 0.4s;
    }
    &--primary {
        color: #fff;
        background-color: map-get($theme-colors, 'primary');
        &:focus,
        &:active {
            color: map-get($theme-colors, 'accent');
        }
    }
    &--accent {
        color: map-get($theme-colors, 'primary');
        background-color: map-get($theme-colors, 'accent');
        &:after,
        &:before {
            background-color: rgba(#02253B, .25);
        }
        &:focus,
        &:active {
            color: map-get($theme-colors, 'primary');
        }
    }
    &--small {
        padding: 15px 50px;
        text-transform: none;
    }
    &:hover {
        &:after,
        &:before {
            opacity: 0;
            transform: translate(0);
        }
    }
}