.footer {
    padding: 35px 0 45px 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .widget_text {
        p {
            font-size: 14px;
            color: map-get($theme-colors, 'grey-color');
            margin: 0;
        }
    }
}