.header-menu,
.menu {
    display: flex;
    align-items: center;
    padding: 10px 0;
    li {
        &:not(:last-child) {
            margin-right: 35px;
        }
        a {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            color: map-get($theme-colors, 'primary');
            transition: map-get($theme-options, 'transition');
            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: map-get($theme-colors, 'accent');
                transition: map-get($theme-options, 'transition');
            }
            &:hover {
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}