/**
 * Header
 */

.brand {
    font-weight: bold;
}

h2 {
    color: map-get($theme-colors, 'primary');
}

.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: map-get($theme-options, 'transition');
    z-index: 100;
    &--up {
        transform: none;
        box-shadow: 0 10px 10px #999;
    }
    &--down {
        transform: translate3d(0, -100%, 0);
    }
    &__wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__logo {
        width: 125px;
        flex-shrink: 0;
    }
    &__logo-link {
        display: block;
        color: map-get($theme-colors, 'primary-blue');
        transition: map-get($theme-options, 'transition');
        text-decoration: none;
        &::first-line {
            font-size: 25px;
            font-weight: bold;
        }
        &:hover {
            color: map-get($theme-colors, 'accent');
            text-decoration: none;
        }
    }
    .nav-primary {
        margin-left: auto;
        margin-right: 35px;
    }
}