.social {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    &__link {
        svg {
            path {
                fill: #777;
                transition: map-get($theme-options, 'transition');
            }
        }
        &:hover {
            svg {
                path {
                    fill: map-get($theme-colors, 'accent');
                }
            }
        }
    }
}