/**
 * Global
 */

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.2;
}

a {
    color: map-get($theme-colors, 'primary');
}


/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

// @each $color-name,
// $color-value in $theme-colors {
//     .has-#{$color-name}-color {
//         color: $color-value;
//     }
//     .has-#{$color-name}-background-color {
//         background-color: $color-value;
//     }
// }
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-body {
    padding-top: 70px;
}